.navbar-brand {
  padding: 10px 30px;
  border: 1px solid red;
}

.text-undangan h3 {
  font-size: 28px;
}

.text-undangan p {
  font-size: 18px;
}

.kotak-nama .card {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height {
  background-image: url("/assets/images/bg-wedding.png");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0 80px 0;
  border-bottom: 2px solid #444;
}

#more {
  display: none;
}

.glass-dark {
  background: rgba(34, 34, 34, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.6px);
  -webkit-backdrop-filter: blur(0.6px);
  border: 1px solid rgba(218, 218, 218, 0.9);
}

.glass-white {
  background: rgba(218, 218, 218, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.6px);
  -webkit-backdrop-filter: blur(0.6px);
  border: 1px solid rgba(218, 218, 218, 0.9);
}

.bride-img-center {
  position: absolute;
  width: 400px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bride-img-bottom {
  position: absolute;
  width: 150px;
  top: 65%;
  right: 30%;
}

.bride-img-top {
  position: absolute;
  width: 150px;
  top: 65%;
  left: 30%;
  transform: scaleY(-1);
}

.date-img-bottom {
  position: absolute;
  width: 150px;
  top: 75%;
  right: 21%;
}

.date-img-top {
  position: absolute;
  width: 150px;
  top: 18%;
  left: 21%;
}

.margin-galery {
  margin: 0 200px;
}

.galery-img-bottom {
  position: absolute;
  width: 150px;
  top: 81%;
  right: 11%;
}

.galery-img-top {
  position: absolute;
  width: 150px;
  top: 14%;
  left: 11%;
}

.location-img-bottom {
  position: absolute;
  width: 150px;
  top: 77%;
  right: 5%;
}

.location-img-top {
  position: absolute;
  width: 150px;
  top: 18%;
  left: 5%;
}

.location .card {
  width: 80%;
  height: 500px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.location .card p {
  padding: 0 100px;
}

.ke-atas {
  background-color: white;
  padding: 10px 15px 6px 15px;
  z-index: 1;
  border-radius: 100%;
  border: 1px solid black;
  color: black;
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .text-undangan h3 {
    font-size: 20px;
  }

  .text-undangan p {
    font-size: 15px;
  }

  .location .card p {
    padding: 0 20px;
  }

  .bride-img-center {
    position: absolute;
    width: 300px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bride-img-bottom {
    position: absolute;
    width: 150px;
    top: 57%;
    right: 7%;
  }

  .bride-img-top {
    position: absolute;
    width: 150px;
    top: 57%;
    left: 7%;
    transform: scaleY(-1);
  }

  .margin-date {
    margin: 0 30px;
  }

  .date-img-bottom {
    position: absolute;
    width: 150px;
    top: 82%;
    right: 0%;
  }

  .date-img-top {
    position: absolute;
    width: 150px;
    top: 14%;
    left: 0%;
  }

  .margin-galery {
    margin: 0 30px;
  }

  .galery-img-bottom {
    position: absolute;
    width: 150px;
    top: 83%;
    right: 0;
  }

  .galery-img-top {
    position: absolute;
    width: 150px;
    top: 12%;
    left: 0;
  }

  .location {
    margin: 10px 20px;
  }

  .location-img-bottom {
    position: absolute;
    width: 150px;
    top: 75%;
    right: 0%;
  }

  .location-img-top {
    position: absolute;
    width: 150px;
    top: 15%;
    left: 0%;
  }
}
